.chatbot{
position: fixed;
bottom: 0;
right: 0;
width: 30rem;
height: 40rem;
display: flex;
flex-direction: column;
background-color: #fff;
padding: 0 0 0 1em;
}

.chat{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
	overflow-y: scroll;
}

.message {
    display: flex;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 0 15px 15px 0;
    font-weight: bold;
    width: fit-content;
    max-width: 75%;
}
.message.to {
    align-self: flex-end;
    background-color: #2095FE;
    color: #fff;
    text-align: right;
    
}
.message.from {
    align-self: flex-start;
    background-color: #E5E4E9;
    color: #363636;

}


.action{
    display: flex;
}
button{
    color: #fff;
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca; 
}